[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"

[packages]
crayons = "*"
e1839a8 = {path = ".",editable = true}
pyyaml = "==4.2b1"
